.App {
  text-align: center;
  padding-bottom: 10vh;
}
.buttonStyling
{
  border: 1px solid black ;
  max-width: 175px;
  margin: 1px auto;
}
img
{
  padding-bottom: 10px;
}
input 
{
  margin: 1px auto;
}
